.header__lang-link-en{
    width: 29px;
    height: 28px;
    font-size: 24px;
    line-height: 1.17;
}

@media screen and (max-width: 320px){
    .header__lang-link-en{
        width: 22px;
        height: 24px;
        font-size: 18px;
        line-height: 1.33;
    }
}