@import url(./intro__subtitle-text.css);
@import url(./intro__subtitle-bold.css);
.intro__subtitle{
    font-size: 12px;
    line-height: 18px;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 32px 0 0;
    list-style-type: none;
    padding: 0;
}