@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__overlay/cover__overlay.css);
.cover{
    background-image: url(../../images/background.jpg);
    min-height: 740px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px){
    .cover{
        width: 100%;
        min-height: 640px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 768px){
    .cover{
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 425px){
    .cover{
        margin-bottom: 64px;
        max-width: 100%;
        min-height: 200px;
    }
}


