.place__web-area{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    margin-top: 100px;
}

@media screen and (max-width: 1024px) {
    .place__web-area {
        width: 456px;
        font-size: 16px;
        line-height: 1.62;
        margin-top: 80px
    }
}

@media screen and (max-width: 1024px) {
    .place__web-area {
        width: 352px;
        font-size: 16px;
        line-height: 1.62;
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .place__web-area {
        display: none;
    }
}