.place__web-area{
    display: flex;
    flex-direction: column;
    align-self: end;
}

@media screen and (max-width: 1024px) {
    .place__web-area {
        width: 456px;
        font-size: 16px;
        line-height: 1.62;
    }
}

@media screen and (max-width: 1024px) {
    .place__web-area {
        width: 352px;
        font-size: 16px;
        line-height: 1.62;
    }
}

@media screen and (max-width: 425px) {
    .place__web-area {
        display: none;
    }
}