.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 92px 0 12px;
    margin: 0 48px 0;
}

.grid__item{
    max-width: 100%;
    max-height: 100%;
    width: 284px;
    height: 213px;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 14px;
    }
    .grid__item{
        width: 300px;
        height: 225px;
    }
    
}

@media screen and (max-width: 768px) {
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 24px 0;
    }
    .grid__item{
        width: 352px;
        height: 264px;
    }
}

@media screen and (max-width: 320px) {
    .grid{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        margin: 64px 16px 0;
    }
    .grid__item{
        width: 288px;
        height: 216px;
    }
}